/* Gaya Tampilan Pop-up Gelap Belakang */
.custom-modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

/* Gaya Gambar Tengah Layar */
.modal-content {
    margin: auto;
    display: block;
    max-width: 85%;
    max-height: 85%;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255,255,255,0.1);
    animation: zoomInEffect 0.3s ease;
}

/* Tombol Close (X) */
.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Animasi Muncul Melembut */
@keyframes zoomInEffect {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}